:root{
     /* Global vars */
}

body {
    margin: 0%;
}

.container-welcome {
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: green;
    text-align: center;
}

.container-welcome h1 {
    margin: 0%;
    padding-top: 30vh;
    font-size: 100px;
}

.curtain {
    height: 100vh;
    width: 50%;
    z-index: 10;
    position: fixed;
    
}

.curtain-left {
    float: left;
    top: 0%;
    left: 0%;
    border-radius: 30%;
}

.curtain-left img {
    width: 100%;
    height: 100%;
}

.curtain-right {
    float: right;
    top: 0%;
    right: 0%;
}

.curtain-right img {
    width: 100%;
    height: 100%;
}

.animated-curtain-draw {
    width: 0%;
    border-bottom-right-radius: 70%;
    transition: all 7s ease 0s;
}

.animated-welcome-text {
    color: red;
    transition: all 5s ease 3s;
}