:root{
     /* Global vars */
}

body {
    margin: 0%;
}

.container-welcome {
    width: 100%;
    height: 100vh;
    z-index: 1;
    text-align: center;
}

.container-welcome .welcome-text {
    margin: 0%;
    padding-top: 30vh;
    font-size: 100px;
}

.curtain {
    height: 100vh;
    width: 50%;
    z-index: 10;
    position: fixed;
    
}

.curtain-left {
    float: left;
    top: 0%;
    left: 0%;
}

.curtain-left img {
    width: 100%;
    height: 100%;
}

.curtain-right {
    float: right;
    top: 0%;
    right: 0%;
}

.curtain-right img {
    width: 100%;
    height: 100%;
}

.animated-curtain-draw {
    width: 0%;
    transition: all 7s ease 0s;
}

.animated-welcome-text {
    color: red;
    transition: all 5s ease 3s;
}


.img-personal {
    width: 250px;
    height: 250px;
    margin: 20px;
    border-radius: 50%;
}

@media screen and (max-width: 1000px) {
    .container-welcome .welcome-text {
        font-size: 50px;
    }
  }